<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark room</title>
    <link rel="stylesheet" href="./../static/style/style.css">
</head>

<body>
    <section>
        <div class="container"></div>
        <div class="form">
            <form onsubmit="app.doSendMessage(); return false;">
                <div class="placeholder">
                    <label>Hello <b class="username"></b>. Say something:</label>
                </div>
                <input class="input-message" type="text" placeholder="Enter message">
                <button type="submit">Send</button>
            </form>
        </div>
    </section>
    <script src="./../static/js/script.js"></script>
</body>

</html>